!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      %i
        Hello #{@user.name},
    %p
      Your leave has been approved from #{@from_date} to
      = @to_date
    Regards,
    %p
      Josh Software
