<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<p>
<i>
Hello
<%= @leave.user.email %>,</i>
</p>

Your Leave has been approve!
<br/>
regards,
</p>
</body>
</html>