%html
  %head
    %title
  %body
    Happy Birthdays to #{@names} from all josh team!!!. I hope this is the begining of your greatest, most wonderful year ever! 
    %footer
      %p
        Regards,
        %p  
          Joshsoftware.com
