<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<p>
<i>
Hello
<%= @leave.user.email %>,</i>
</p>
<p>
Your leave has been cansled by <%= @user.roles %>
If you have any query, please contact with your cunseltent
</p>
</br>
<p>
regards,
<%= @user.email %>
</p>
</body>
</html>