<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<p>
<i>
Hello
<%= @leave.user.profile.name %>,</i>
</p>
</br>
<p>
Your leave has now been canceled by your <%= @user.roles %> <%= @user.profile.name %>
</br>
Regards,
<%= @user.organization.name %>
</body>
</html>