<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<p>
<i>
Hello Admin,
</i>
<br/>
<br/>
The following persons has birthday on <%= @date %> in your organisation, lets wish them and make something spetial!
the persons name as can be follows:
<ol>
<li>
<%= @user.name %>
<br/>
<br/>
regards,
</p>
</body>
</html>