<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<p>
Hello Admin,</br>
</br>
<%= @user.email %> has been cansled his leave.
</p>
</body>
</html>