<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<p><i>
Hello Admin,
</i>
</p>
</br>
</br>
<p>
<%= @user.roles %> <%= @user.name%> has canceled leave that was applied. </br>
regards,
</br>
<%= @user.organization.name %>
</body>
</html>