<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>
<p>
<i>
Hello Admin,
</i>
<br/>
<br/>
The person <%= @user.email %>
will going to complete his probation time after 15days from today.
<br/>
On date: <%= @date %>
<br/>
<br/>
Regards,<br/>
<%= @user.organization.name %> team
</body>
</html>