<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>     
     <p><b>Hello <%= @user.organization.name %>,</b></p><br />
     <p><%= @user.leafe.reason %><br /><%= @user.leafe.starts_at %> to <%= @user.leafe.ends_at %></p>
    <br />
    <p>Thanks & regards!<br /></p>   
  </body> 
</html> 



