<!DOCTYPE html> 
<html>
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>
<p>
  <i>
  Hello <%= @leave.user.email %>,
  </i>
  <br/>
  <br/>
Kindly note, your leave quota is over and hence the <%= @leave.number_of_days.to_s %>
leaves you are applying on dated from <%= @leave.starts_at.strftime("%B %d ") %> to <%= @leave.ends_at.strftime("%B %d") %> for will be un-paid.

<br/>
<br/>
Don't hesitate to get back to us if you have any query.
</p>
</body>
</html>