%p
  Hello #{@receiver.email}!
%p
  #{@sender.email} has invited you to #{root_url}, you can accept it through the link below.
%p  
  After accepting sign in using Josh Software account and update your profile. 
%p
  = link_to 'Accept invitation', root_url 
