<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>
  <p>
  Hello Admin,
  </br>
  </br>
  This is list of all employees with there leave details!
 </br>
 belows table is showing you employees name and his leaves
 <table>
 <tr>
 <th>
 Employee's name
 </th>
 <th>
his available leaves
</th>
<th>
his assign leaves
</th>
<% @user.each do |user| -%>
<tr>
<td>
<%= user.email %>
</td>
<% user.leave_details.each do |leave| -%>
<% if leave.assign_date.year == Time.zone.now.year %>
<td>
<% leave.available_leaves.each do |k, v| -%>
<% if v <= 0 %>
0.0
<% else %>
<%= v.to_s %>
<% end %>
<% end %>

</td>
<td>
<% leave.assign_leaves.each do |k, v| -%>
<%= v.to_s %>
<% end %>
</td>
<% end %>
<% end %>
<% end %>
</table>
</body>
</html>