= simple_form_for @user, url: assignleaves_path(@user), method: :post, html: {:class => 'form-horizontal'} do |f|
 = f.simple_fields_for LeaveDetail.assign_leaves do |l|
  = l.input :assign_date, :label => "Date"
  = l.submit "Assign leaves"

