
= content_for :left_menu do
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header
        Users
      %li
        - if can? :assign_leave, @assign_leaves 
          = link_to "Assign Leaves", addleaves_path
        - if can? :create, @user
          = link_to "Invite", new_user_invitation_path
