
= content_for :left_menu do
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header
        Users
      %li
        = link_to "Assign Leaves", addleaves_path
        = link_to "Invite", new_user_invitation_path
