.form-heading
  %h2 Edit User
= simple_form_for(@user, :url => user_path(@user), :html => { method: :put, class: "form-horizontal", multipart: true}) do |f|
  - render 'devise/registrations/form', f: f
