%h1 Leaves summary
%table
  %tr
    %th Assigned date
    %th Leave type
    %th Assigned leaves
    %th Available leaves

  - @leave_details.each do |l|
    - date = l.assign_date
    - @leave_types.each do |lt|
      %tr
        %td= date.present? ? date : ''
        - if l.assign_leaves[lt.id.to_s] != nil
          %td= lt.name
        %td= l.assign_leaves[lt.id.to_s]
        %td= l.available_leaves[lt.id.to_s]
        - date = nil
    