$('.container-fluid').before("<div id='flash-notice' class='flash alert alert-notice global' style='display: none;'> <a data-dismiss='alert' class='close'> </a>The Invitation has been send to user. </div>")

