= render 'profile'
- unless @projects.empty?
  .projects
    %table.table
      = render partial: 'project', collection: @projects
- unless ( @user.role.eql?('Admin') || @not_found.eql?(true) )
  = render partial: 'users/bonusly_updates', locals: {bonus_given: @bonus_given, bonus_received: @bonus_recieved, user: @user}
