%td
  %h4
    .remove_underline
      = link_to doc.name, doc.document.url, data: { :colorbox => true, :colorbox_height => '700px', :colorbox_width => '700px', :colorbox_iframe => true }
      = link_to "", download_document_attachment_path(doc), class: "icon-download"
%td
  %h4.pull-right
    -if can? :mannage, Attachment
      = link_to "", edit_attachment_path(doc), class: "icon-edit", data: {"no-turbolink" => true}, remote: true
      = link_to "", attachment_path(doc), data: {method: :delete, confirm: "Are you sure?"}, class: "icon-trash"
