%td
  %h4
    = link_to doc.name, download_document_attachment_path(doc)
%td
  %h4.pull-right
    -if can? :mannage, Attachment
      = link_to "", edit_attachment_path(doc), class: "icon-edit", data: {"no-turbolink" => true}, remote: true
      = link_to "", attachment_path(doc), data: {method: :delete, confirm: "Are you sure?"}, class: "icon-trash"
