$('.doc-form').html("#{escape_javascript(render :partial => "document_modal", locals: {title: "Edit document", form_type: "edit"})}");
$("#document_modal_edit").modal();
$('.make-switch').bootstrapSwitch();
