= simple_form_for @leave, :url => rejectStatus_leafe_path(@leave), html: {:class => 'form-horizontal'} do |f|
  = f.input :reject_reason, :as => :text, :required => true, :input_html => {:cols => 20, :rows => 5}
  = f.submit "Submit"
