%h1 Applyed leaves

%table
  %tr
    %th User
    %th Leave type
    %th Show
  - @leaves.each do |leave|                                       
    %tr
    - if leave.user.profile.nil?
      %td= leave.user.email
    - else
      %td= leave.user.name
      %td= leave.leave_type.name
      %td= link_to 'Show', leave
%br


