.form-heading
  %h2
    Apply Leave
= simple_form_for @leave_application, url: user_leave_applications_path(current_user) , html:{class: 'form-horizontal'} do|f|
  = render 'form', f: f, leave_types: @leave_types 
