:css
  .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus{
    background: -webkit-gradient( linear, left top, left bottom, from(#fff3db), to(rgba(0, 0, 0, 0.39)));
  }
  .leave_link{float: right;}
.alert-message
.leave_link
  =link_to "Apply Leave", new_user_leave_application_path(current_user)
%ul.leave_applicationTab.nav.nav-tabs
  %li.active
    %a#pending_link{data:{toggle: 'tab', leave_count: @pending_leave.count}, href: '#unapproved_leave'}
      Pending (#{@pending_leave.count})
  %li
    %a#leave_history_link{data:{toggle: "tab"}, href: '#approved_leave'}
      Leave History
   
.leave_application_tab_content.tab-content
  #approved_leave.tab-pane.fade
    = render 'leave_applications/leave_view', leave_data: @approved_leave
  #unapproved_leave.tab-pane.fade.in.active
    = render 'leave_applications/leave_view', leave_data: @pending_leave
:javascript
  var reject_reason = ''
  
  $('.reject_reason').editable({
    validate: function(value){
      reject_reason = value
      update_leave($(this))
      td = $(this).parent('td')
      action_div = td.parent().children('.action')
      spinner_div = td.parent().children('.spinner')
      action_div.hide()
      spinner_div.show()
    }
  });

  $('.approve_leave').click(function(){
    update_leave($(this))
  });

  $('.cancel_leave').click(function(e){
    e.stopPropagation();
    $(this).parent('td').next('td').children('.reject_reason').editable('toggle')
  });

  function update_leave(option){
    leave_application_id = option.data('id');
    url = "/" + option.data('url');
    action = option.data('action');
 
    $.ajax({
      url: url,
      type: 'GET',
      data: {id: leave_application_id, action: action, reject_reason: reject_reason},
      success: function(){
        tr_id = "#leave_application_" + leave_application_id;
        b = $(tr_id).detach();

        if(action == 'cancel'){
          l_status = 'Rejected'
          message = 'Leave Cancelled'
        }else{
          l_status = 'Approved'
          message = 'Leave Approved'
        }

        b.children('.action').show()
        b.children('.spinner').hide()
        b.children('.action').text(l_status)
        b.children('.leave_status').text(reject_reason)
        $('#approved_leave table tbody').append(b);
        $('.alert-message').alert({txt: message, type: 'success'});  
        leave_count = $('#pending_link').data('leave-count') - 1
        ls = "Pending (" + leave_count + ")";
        $('#pending_link').text(ls);
        reject_reason = ''
      },
      error: function(){
        $('.alert-message').alert({txt: 'Internal Server Error! Please contact web sysadmin', type: 'error'});  
      }
    });  
    return false;
  }
