- if can? :manage, Vendor
  = link_to "Vendors", '#', "data-toggle" => "dropdown", class: "dropdown-toggle"
%ul.dropdown-menu.drop
  %li
    =link_to 'Add vendor', new_vendor_path, data: {'no-turbolink' =>  true}
    = link_to 'Import vendors', '#', onclick: "$('#csv_file').click()", data: {'no-turbolink' =>  true}
  %li.divider
  %li
    =link_to 'Vendors', vendors_path, data: {'no-turbolink' =>  true}

= form_tag(import_vendors_vendors_path, id: 'import_csv_file', enctype: "multipart/form-data") do
  = file_field_tag "csv_file", hidden: true
